page-modal-registrar-empleado {

}

.vistaizq{
    width: 50%;
    height: 300px;
    position: absolute;
    top: 90px;
    
}
.vistader{
    width: 50%;
    height: 300px;
    position: absolute;
    top: 90px;
    left: 50%;
    
}

.botonescontrol{
    position: absolute;
    top: 330px;
}