/*page-modal-ingresar-nuevo-servicio {

}*/

.contenidodatos
{
    width: 30%;
    height: 520px;
    //border: 1px solid red;
    position: absolute;
    top: 20px;
    background: #0097e6;
    margin: 5px auto;
}

.titlecontenido{
    width: 60%;
    height: 30px;
    //border: 1px solid red;
    position: absolute;
    top: 30px;
    left: 32%; 
}

.contenidomapa
{
    width: 60%;
    height: 480px;
    //border: 1px solid red;
    position: absolute;
    top: 60px;
    left: 32%;
}
.contenidomapaslider
{
    width: 60%;
    height: 20px;
    //border: 1px solid red;
    position: absolute;
    top: 560px;
    left: 32%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #f3f3f3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #488aff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #488aff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.itinerario
{
    width: 100%;
    height: 32px;
}

.botonesBtn{
    width: 60%;
    height: 60px;
    //border: 1px solid red;
    position: absolute;
    top: 660px;
    left: 72%;
}

#maprange {
    width:100%;
    height:100% !important;
	margin: auto;
}


#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
