page-consultas {

}

.headconsul
{
    width: 100%;
    height: 60px;
    //border: 1px solid red;
}

.ide
{
    position: absolute;
    top: 20px;
    //border: 1px solid orange;
    width: 25%;
    height: 50px;
}

.fei
{
    position: absolute;
    top: 20px;
    //border: 1px solid blue;
    width: 25%;
    height: 50px;
    left: 25%;
}

.fef
{
    position: absolute;
    top: 20px;
    //border: 1px solid green;
    width: 25%;
    height: 50px;
    left: 50%;
}

.btn
{
    position: absolute;
    top: 20px;
    width: 25%;
    height: 50px;
    left: 75%;
}

.headerconsulta{
    width: 100%;
    height: 120px;
    //border: 1px solid red;
}

