page-reanudar {

}

.reanudar{
    width: 50%;
    height: 500px;
    border: 1px solid red;
    margin: 10px auto;
    padding: 10px auto;
}

.headrea
{
    width: 100%;
    height: 60px;
    //border: 1px solid red;
}

.ide
{
    position: absolute;
    top: 20px;
    //border: 1px solid orange;
    width: 25%;
    height: 50px;
}

.fei
{
    position: absolute;
    top: 20px;
    //border: 1px solid blue;
    width: 25%;
    height: 50px;
    left: 25%;
}

.fef
{
    position: absolute;
    top: 20px;
    //border: 1px solid green;
    width: 25%;
    height: 50px;
    left: 50%;
}

.btnd
{
    position: absolute;
    top: 20px;
    //border: 1px solid yellow;
    width: 20%;
    height: 50px;
    left: 78%;
}

